.Pokedex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 550px;
  padding-left: 10px;
  margin: 50px auto;
  background-color: #FE0065;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #808182;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  border: 2px ridge grey;
  border-radius: 3px;
  margin: 5px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
}

.poke-btn {
  margin-right: 20px;
  width: 100px;
}